@use '../index.scss' as *;

.app__profile {
  @include flex(center, flex-start);
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  height: 100%;

  @media screen and (max-width: 1919px) {
    width: 85%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    gap: 1rem;
  }
}
