@use '../index.scss' as *;

.app__navbar {
  @include flex(flex-start, space-between);
  flex-direction: column;
  position: fixed;
  inset: 0;
  width: 335px;
  padding: 1rem;
  border-right: 1px solid $light-gray;

  @media screen and (max-width: 1919px) {
    width: 245px;
  }
  @media screen and (max-width: 768px) {
    @include flex(center, center);
    width: 72px;
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.app__navbar__logo {
  @include flex(center, flex-start);
  gap: 0.5rem;
  padding: 1.5rem 0.75rem;
  color: black;
  text-decoration: none;

  h1 {
    font-family: $font-family-heading;
    pointer-events: none;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .ekg-line {
    fill: black;
    stroke: black;
  }

  @media screen and (max-width: 768px) {
    padding: 1.5rem 0rem;

    .ekg {
      width: 36px;
    }
  }
}

.app__navbar__actions {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  flex: 1;
  gap: 0.25rem;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: fit-content;
  }
}

.app__navbar__footer {
  width: 100%;

  @media screen and (max-width: 768px) {
    width: fit-content;
  }
}
