@use '../index.scss' as *;

li {
  background-color: transparent;
  border: none;
  width: 100%;
  list-style: none;

  @media screen and (max-width: 768px) {
    width: fit-content;
  }
}

.app__navbar__item {
  @include flex(center, flex-start);
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #fafafa;

    &__icon {
      transform: scale(1.1);
    }
  }

  .app__navbar__item__icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: black;
    pointer-events: none;
  }

  .app__navbar__item__label {
    color: black;
    font-size: 1rem;
    pointer-events: none;
    text-transform: capitalize;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
