@use '../index.scss' as *;

.app__navfooter {
  display: none;
  height: 4rem;
  z-index: 3;
  background: white;

  @media screen and (max-width: 480px) {
    @include flex(center, space-between);
    width: 100%;
    padding: 0.5rem 1rem;
    border-top: 1px solid $light-gray;
  }
}
