@use '../index.scss' as *;

.app__navheader {
  display: none;
  height: 4rem;
  width: 100%;
  background: white;

  .app__navheader__logo {
    @include flex(center, flex-start);
    gap: 0.5rem;
    padding: 1.5rem 0.75rem;
    color: black;
    text-decoration: none;

    h1 {
      font-family: $font-family-heading;
      pointer-events: none;
    }

    .ekg-container {
      width: 3rem;
      .ekg-line {
        fill: black;
        stroke: black;
      }
    }
  }

  @media screen and (max-width: 480px) {
    @include flex(center, space-between);
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $light-gray;
  }
}
