@use '../index.scss' as *;

.app__actions__wrapper {
  position: relative;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover > svg {
    opacity: 50%;
  }
}

.app__actions {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 0.25rem;
  position: absolute;
  inset: 1.5rem 0rem auto auto;
  width: 10rem;
  padding: 0.5rem 0;
  border: 1px solid $light-gray;
  z-index: 2;
  background: white;
}
