@use '../index.scss' as *;

.app__comment {
  @include flex(flex-start, flex-start);
  gap: 0.5rem;
  width: 100%;
}

.app__comment__content {
  flex: 1;

  .app__comment__stats {
    @include flex(center, flex-start);
    gap: 0.5rem;
    width: 100%;
    padding-top: 0.5rem;
    color: $light-font;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.app__post__actions {
  @include flex(center, space-around);
  flex-direction: column;
  height: 100%;

  svg {
    height: 12px;
    width: 12px;
    cursor: pointer;
  }
}

.app__replies__btn {
  @include flex(center, flex-start);
  gap: 1rem;
  margin: 0.5rem 0;
  color: $light-font;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1rem;

  .app__reply__line {
    height: 0;
    width: 2rem;
    border-bottom: 1px solid $light-gray;
  }
}

.app__replies {
  @include flex(flex-start, center);
  flex-direction: column;
  gap: 0.75rem;
  width: calc(100% - 3rem);
  margin-left: 3rem;
}
