@use '../index.scss' as *;

.create__post__header {
  height: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $light-gray;

  h4 {
    width: 100%;
    text-align: center;
  }
}

.create__post__content {
  height: calc(100% - 2rem);
  span {
    text-align: center;
  }
}

.create__post__caption {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;

  &__header {
    @include flex(center, flex-start);
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;

    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .image__wrapper {
    height: fit-content;
  }

  textarea {
    min-height: 4rem;
    padding: 0.25rem 0.5rem;
  }
}
