@use '../index.scss' as *;

.create__post__header {
  height: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $light-gray;

  h4 {
    width: 100%;
    text-align: center;
  }
}

.create__post__content {
  height: calc(100% - 2rem);
  span {
    text-align: center;
  }
}
