@use '../index.scss' as *;

.app__list__modal {
  .modal__content__wrapper {
    @include flex(center, flex-start);
    min-height: 50%;
  }
}

.app__list__header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $light-gray;
  text-align: center;
}
