@use './index.scss' as *;

.ekg-container {
  height: 100%;
  pointer-events: none;
}

.ekg {
  width: 75px;
}

.ekg-line {
  fill: $primary-color;
  stroke: $primary-color;
  stroke-width: 2;
  stroke-linecap: round;
}
