.ekg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  pointer-events: none;
}

.ekg {
  width: 75px;
}

.ekg-line {
  fill: #da2c74;
  stroke: #da2c74;
  stroke-width: 2;
  stroke-linecap: round;
  // animation-name: pulse;
  // animation-duration: 3s;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;
}

// @keyframes pulse {
//   0% {
//     stroke-dasharray: 0 500;
//   }
//   100% {
//     stroke-dasharray: 500 0;
//   }
// }
