@use './variables.scss' as *;

@keyframes loading {
  0% {
    background-color-coloror: $loading-bg;
  }
  50% {
    background-color: $loading-light-bg;
  }
  100% {
    background-color: $loading-bg;
  }
}

@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin loadingAnimation {
  animation: loading 2s ease-in-out infinite;
}

@mixin loadingCircle($width, $height) {
  @include loadingAnimation;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: $loading-bg;
}
