@use "./index.scss" as *;

nav {
  @include flex(flex-start, space-between);
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid rgb(219, 219, 219);
}

.app__navbar__logo {
  @include flex(center, flex-start);
  gap: 0.5rem;
  padding: 1.5rem 0.75rem;
  text-decoration: none;
  color: black;
  .ekg-line {
    fill: black;
    stroke: black;
  }
}

.app__navbar__actions {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 0.25rem;
}

.app__navbar__footer {
  width: 100%;
}
