@use "./index.scss" as *;

nav {
  @include flex(flex-start, space-between);
  flex-direction: column;
  border-right: 1px solid rgb(219, 219, 219);
  width: 367px;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  @media screen and (max-width: 1024px) {
    width: 277px;
  }
  @media screen and (max-width: 768px) {
    width: 72px;
  }

  @media screen and (max-width: 480px) {
    flex-direction: row;
    @include flex(center, space-between);
    width: 100%;
    border-right: none;
    border-top: 1px solid rgb(219, 219, 219);
    right: 0;
    left: 0;
    bottom: 0;
    top: auto;
  }
}

.app__navbar__logo {
  @include flex(center, flex-start);
  gap: 0.5rem;
  padding: 1.5rem 0.75rem;
  text-decoration: none;
  color: black;

  @media screen and (max-width: 768px) {
    padding: 1.5rem 0rem;

    .ekg {
      width: 36px;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 0rem;

    .ekg {
      width: 36px;
    }
  }

  .ekg-line {
    fill: black;
    stroke: black;
  }

  h1 {
    pointer-events: none;
    font-family: $font-family-heading;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.app__navbar__actions {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 0.25rem;

  @media screen and (max-width: 767px) {
    width: fit-content;
  }

  @media screen and (max-width: 480px) {
    flex-direction: row;
    @include flex(center, center);
    gap: 0.25rem;
  }
}

.app__navbar__footer {
  width: 100%;
  @media screen and (max-width: 768px) {
    width: fit-content;
  }
}
