@use "../scss/index.scss" as *;

.profile__post {
  position: relative;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
    fill: rgb(255, 255, 255);
  }

  &:hover {
    .profile__post__overlay {
      display: flex;
    }
  }
}

.profile__post__overlay__top__right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.profile__post__overlay {
  position: absolute;
  @include position(0, 0, 0, 0);
  background: rgba(52, 52, 52, 0.3);
  display: none;
  transition: all ease-out;

  &__center {
    transform: translateY(-50%);
    gap: 0.5rem;
    color: white;
    font-weight: bold;
  }
}
