@use '../index.scss' as *;

.app__notification__wrapper {
  @include flex(center, space-between);
  gap: 1rem;
  width: 100%;
  color: black;
  text-decoration: none;

  .app__notification {
    gap: 0.5rem;

    &__text {
      .app__notification__date {
        display: inline;
        color: $light-font;
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }

    &__img {
      width: 2rem;
      height: 2rem;
    }

    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
  }
}
