@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  width: 100%;
}

.layout {
  @include flex(stretch, center);
  height: 100%;

  .app__layout__main__wrapper {
    @include flex(flex-start, center);
    width: 100%;
    overflow-y: scroll;
    padding: 2rem 1rem;
    margin-left: 335px;

    @media screen and (max-width: 1919px) {
      margin-left: 245px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 72px;
    }
    @media screen and (max-width: 480px) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    @include flex(center, space-between);
  }
}

.primary__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;
}

.secondary__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  cursor: pointer;
}

input:read-only {
  background: rgba(235, 235, 235, 0.5);
  cursor: not-allowed;
}
