@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  width: 100%;
}

textarea {
  width: 100%;
  border: 0;
  outline: none;
  resize: none;
}

input {
  width: 100%;
  border: none;
  outline: none;
}

input:read-only {
  background: rgba(235, 235, 235, 0.5);
  cursor: not-allowed;
}

input[type='file'] {
  display: none;
}

button {
  width: 100%;
  border: none;
  background-color: transparent;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

img {
  -webkit-user-drag: none;
}

.flex__center {
  @include flex(center, center);
}

.absolute__top__right {
  position: absolute;
  inset: 0.5rem 0.5rem auto auto;
}

.absolute {
  position: absolute;
  inset: 0;
}

.primary__outline__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
}

.secondary__outline__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  cursor: pointer;
}

.primary__btn {
  width: fit-content;
  border: none;
  color: $primary-color;
  cursor: pointer;
  text-decoration: underline;
}

.secondary__btn {
  width: fit-content;
  border: none;
  cursor: pointer;
}

.font__color__light {
  color: $light-font;
}

.semibold__pointer {
  cursor: pointer;
  font-weight: 600;
}
