@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  width: 100%;
}

.layout {
  @include flex(stretch, center);
  height: 100%;

  @media screen and (max-width: 480px) {
    flex-direction: column-reverse;
    @include flex(center, space-between);
  }
}
